@tailwind base;
@tailwind components;
@tailwind utilities;

.active-link {
  @apply font-bold text-primary;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff7ed;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff5722;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.scrolling-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
